/*general styles*/
.profile{width:40px; height:40px; max-width: none;}
img{object-fit: contain;}
.extra-left{margin-left:7%}
.button{border:1px solid #0ff; padding:2%; border-radius: 50px; background-color:transparent}

/*menu*/
#menu{justify-content: space-around;}

#main{max-width:1000px; margin: auto;}
#main .item{border:1px solid #c8c8ff; padding:2%; border-radius: 25px; margin-top:3%}
#main .item .icon{max-width:40px}

/*footer*/
#footer{justify-content: space-around; background-color: #373737; border-radius: 8px; padding:4%}
#footer #contact-methods{width:30%}
#footer #contact-methods .icon{max-width: 25px;}
#footer #social-1{width:50%}
#footer #social-2{width:40%}
#footer #quick-links{width:60%; justify-content:space-around}

#footer #quick-links .item{width:100%}
#footer #quick-links .item.space-left{margin-left:10%;}
#footer #quick-links a{color:#fff;}
#footer #quick-links .header{display:flex; justify-content:flex-end; align-items:center; border-bottom:1px solid #ffb630}
#footer #quick-links .header img{margin-left:2%}