/*general asthetics*/
body{margin:0; padding:0; background-color: #fafafa;}
*{color:#333}
a{text-decoration: none;}
.brand-gradient{background-image:linear-gradient(90deg,#dbffff,#fff,#fff);}
.brand-theme-bg{background-color: #0d9;}
.brand-theme{color:#0d9}
.button{padding:1% 4% 1% 4%; border:none}
.input{width:100%; padding:2%; border:none; border-radius: 8px;}
.octa{
  position: relative;
  width:100px;
  height:40px;
  border:none;
  outline:none;
  padding:0px;
  z-index:0;
}
.octa:before{
  position: absolute;
  top:0;
  left:0;
  content:"";
  height:0;
  width:80px;
  border-right:10px solid #eee;
  border-bottom:10px solid #0d9;
  border-left:10px solid #eee;
}
.octa:after{
  position: absolute;
  bottom:0;
  left:0;
  content:"";
  height:0;
  width:80px;
  border-right:10px solid #eee;
  border-top:10px solid #0d9;
  border-left:10px solid #eee;
}
input:focus{border:none; outline:none}

/*menu*/
#menu{padding:0% 2% 0% 2%}
#ss-menu-top{display:none;}
#menu-ini{display: none;}
#menu a{color:#999999;}
#menu a.current{color:#000}
#menu #menu-links{width:60%}
#menu .links-1{width:70%; justify-content: flex-end;}
#menu .links-1 a{margin-left:5%}
#menu .links-2{width:30%; justify-content: flex-end;}
#menu .links-2 button{background-color:#0d9; border:none; color:#fff}
#menu .links-2 a{margin-right:5%}
#brand-logo{color:#0d9 !important; margin:0}

/*footer*/
#footer{background-color: #2b2a33; padding:2%}
#footer *{color:#eee}
#footer .part-1{width:45%}
#footer .part-2{width:50%}
#footer .fancy-input{border:1px solid #999; padding:2%; width:300px;}
#footer .fancy-input:before{
  width:280px;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  border-bottom: 10px solid transparent;
}
#footer .fancy-input:after{
  width:280px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}
#footer .fancy-input input{background-color: transparent; border:none; width:100%}
#footer .fancy-input button{border:none}
#footer .part-2 a{display:block; margin-top:5%; color:#888}
#footer .part-2 .links{width:30%}
#footer .part-2 .links div{margin-bottom:2%}
#legal{padding:2%; background-color: #2b2a33;}
#legal *{color:#fff}

/*smaller screens*/
@media only screen and (max-width:800px){
  #menu-links{display:none}
  #ss-menu-top{display:block;}
  #menu .menu-curtain{display: none;}
  #ss-menu-top button{
    width: 30px;
    height: 30px;
    border: 1px solid #0d9;
    text-align: center;
    background-color: transparent;
  }
  #menu.open .menu-curtain{
      background-color: rgba(0,200,100,0.3);
      z-index:1;
      display: block;
  }
  #menu.open #menu-links{
    display: block;
    position: fixed;
    top: 0;
    right:0;
    z-index: 2;
    height: 100%;
    background-color: #fff;
  }
  #menu.open #ss-menu-top{
      padding: 4%;
      text-align: right;
  }
  #menu.open #menu-links .links-1,#menu.open #menu-links .links-2{
    display: block;
    padding: 5%;
    width: 100%;
  }
  #menu.open #menu-links a{
    display:block;
    margin: 0;
    margin-top: 8%;
    border-bottom: 1px solid #0d9;
    width: 100%;
  }
  #menu.open #menu-links .links-2 button{
    margin-top: 8%;
  }
  #menu-ini{display:block; font-size:20px}
  
  #footer{display: block}
  #footer .part-1{width:100%}
  #footer .part-2{width:100%; display: block; margin-top:3%}
  #footer .part-2 .links{margin-top:7%; width: 100%}
  
  #legal{display: block; font-size: 13px;}
}